 <nav>
    <div class="main-nav container flex">
        <div class="heading flex">
          <a href="https://gdsc.community.dev/walchand-college-of-engineering-sangli/" class="company-logo" style="justify-content: space-between;"><img src="gdsc-logo.png" alt="company-logo" class="image"></a>     
         <p class="flex"> <h2>Google Developer Students Club</h2></p>              
        </div>
        <div class="nav-links">
            <ul class="flex ">
             <li class="hover-link"><a href="https://gdsc.community.dev/walchand-college-of-engineering-sangli/"><p style="font-family: Poppins;">{{channelName}}</p></a></li>
             <li class="hover-link"><a href="https://developers.google.com/community/gdsc"><p style="font-family: Poppins;">{{channelName}}</p></a></li>
             <li class="hover-link"><a href="/about"><p style="font-family: Poppins;">About</p></a></li>
   
            </ul>
           </div>
         </div>
     </nav>
